<?xml version="1.0" encoding="utf-8"?>
<configuration>
        <configSections>
                <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
                        <section name="ProjectAuto.Properties.TakiRef" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
                        <section name="ProjectAuto.Properties.Taki" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
                        <section name="ProjectAuto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
                </sectionGroup>
        </configSections>
        <startup>
            
        </startup>
        <userSettings>
                <ProjectAuto.Properties.TakiRef>
                        <setting name="sms" serializeAs="String">
                                <value>0</value>
                        </setting>
                        <setting name="path" serializeAs="String">
                                <value />
                        </setting>
                </ProjectAuto.Properties.TakiRef>
                <ProjectAuto.Properties.Taki>
                        <setting name="số_luồng" serializeAs="String">
                                <value>10</value>
                        </setting>
                        <setting name="check_làm_nhiệm_vụ" serializeAs="String">
                                <value>True</value>
                        </setting>
                        <setting name="check_tạo_post" serializeAs="String">
                                <value>False</value>
                        </setting>
                        <setting name="check_mua_coin" serializeAs="String">
                                <value>False</value>
                        </setting>
                        <setting name="check_stake" serializeAs="String">
                                <value>False</value>
                        </setting>
                        <setting name="check_Give_Taki" serializeAs="String">
                                <value>False</value>
                        </setting>
                        <setting name="check_thực_hiện_mời" serializeAs="String">
                                <value>False</value>
                        </setting>
                        <setting name="check_xoá_tài_khoản" serializeAs="String">
                                <value>False</value>
                        </setting>
                        <setting name="txt_Wallet" serializeAs="String">
                                <value />
                        </setting>
                        <setting name="txt_số_give_taki" serializeAs="String">
                                <value>1</value>
                        </setting>
                        <setting name="time_server" serializeAs="String">
                                <value />
                        </setting>
                        <setting name="donate_taki" serializeAs="String">
                                <value>0</value>
                        </setting>
                        <setting name="donate_follow" serializeAs="String">
                                <value>0</value>
                        </setting>
                </ProjectAuto.Properties.Taki>
                <ProjectAuto.Properties.Settings>
                        <setting name="st_path" serializeAs="String">
                                <value />
                        </setting>
                        <setting name="st_theard" serializeAs="String">
                                <value>1</value>
                        </setting>
                        <setting name="st_msg" serializeAs="String">
                                <value>10</value>
                        </setting>
                        <setting name="st_delay" serializeAs="String">
                                <value />
                        </setting>
                        <setting name="st_wallet" serializeAs="String">
                                <value />
                        </setting>
                        <setting name="st_amount_limit" serializeAs="String">
                                <value>0</value>
                        </setting>
                        <setting name="st_total" serializeAs="String">
                                <value>0</value>
                        </setting>
                        <setting name="st_earn" serializeAs="String">
                                <value>0</value>
                        </setting>
                        <setting name="st_path_taki" serializeAs="String">
                                <value />
                        </setting>
                </ProjectAuto.Properties.Settings>
        </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>